body {
	margin: 0;
	font-family: "Fira Sans";
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 11rem;
}

#sections-container {
	height: 950px;
	width: 80%;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
}
.section {
	margin-bottom: 20px;
}

#center {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

#title {
	margin-top: 40px;
	margin-bottom: 0px;
	text-align: center;
}

#subtitle {
	margin: 0;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Slab";
	/*margin: 0.2rem;*/
}

p {
	text-align: left;
}

#topnav {
	display: block;
	overflow: hidden;
	color: whitesmoke;
	background-color: #2e68c0;
	position: relative;
}

#topnav #dropdown-menu {
	display: none;
}

#topnav #nav-title {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 18px;
}

#topnav a {
	width: fit-content;
	color: whitesmoke;
	margin-left: 35px;
	text-decoration: none;
	display: block;
}

#topnav .links {
	margin-bottom: 28px;
}

#topnav a.icon {
	padding: 0px;
	position: absolute;
	right: 50px;
	top: 50px;
}

#page-description-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: medium;
	line-height: 1.7;
}

#page-description {
	font-size: large;
	width: 60%;
}

#all-graph-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
}

.graph-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 80px;
	margin-bottom: 140px;
}

.large-graph-container {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	margin-bottom: 140px;
	align-items: center;
}

.graph-titles {
	margin: 0;
}

.description {
	width: 550px;
	height: 550px;
	display: flex;
	font-size: large;
	line-height: 1.7;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.large-description {
	width: 1000px;
	display: flex;
	font-size: large;
	line-height: 1.7;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-top: 50px;
}

.mini-description {
	width: 60%;
	display: flex;
	font-size: large;
	line-height: 1.7;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
}

.mini-description p {
	font-size: medium;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 11rem; /*10*/

	color: whitesmoke;
	background-color: #2e68c0;
	text-align: center;
	align-content: center;
}

#footer-container {
	display: flex;
	flex-direction: column;
}

#footer-up {
	display: flex;
}

#footer-bottom {
	display: block;
	margin-top: 10px;
}

#footer-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}

#footer-center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

#footer-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 40%;
}

#footer-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 15px;
}

span {
	margin: 4px;
}
